doctype html
html
    head
        link(rel="stylesheet" href="style.css")
        style.
            Footer p{
                font-size: 12px;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1.0rem;
             }
             

footer
    p(style) Calum Schmidtke - 200366733